{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
{% endblock %}

{% block body %}
    <body id="tapisJeu">
        <h1>Jeu de la réussite</h1>
        <h2>Tapis de jeu :</h2>
        <a href="{{ url_for('deconnexion') }}">Déconnexion</a>
        <table class="table-container">
        <tr>
            <th>
                <h1>Symbole</h1>
            </th>
            {% for valeur in liste_valeur %}
                <th>
                {% if valeur == '0' %}
                    <h1>10</h1>
                {%  else  %}
                    <h1>{{ valeur }}</h1>
                {% endif %}
                </th>
            {% endfor %}
        </tr>
        {% set nb_carte = 0 %}
        {% for i in range(0, 4) %}
            <tr>
                {% for j in range(0, 10) %}
                    {% set nb_carte = (i * 9 + j) - 1 %}
                    {% if j == 0 %}
                        <td class="symbole">
                            <img src="{{ image_coeur }}" alt="Symbole de coeur">
                        </td>
                    {%  else  %}
                    <td class="card">
                        <div class="front">
                            <img src="{{ dos_carte }}" alt="Dos de la carte">
                        </div>
                        <div class="back">
                            <img src="{{ carte_data['cards'][nb_carte]['image'] }}" alt="{{ carte_data['cards'][nb_carte]['code'] }}">
                        </div>
                        <span>{{ nb_carte }}</span>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </body>
{% endblock %}
    {% block scripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const cards = document.querySelectorAll('.card');
                let flippedCard = null;
                let isFlipping = false;

                cards.forEach(card => {
                    card.addEventListener('click', function () {
                        // Vérifie si une carte est déjà retournée et si une animation est en cours
                        if (!flippedCard && !isFlipping) {
                            this.classList.toggle('flipped');
                            flippedCard = this;
                            isFlipping = true;
                            // Ajoute un délai avant de permettre à une autre carte d'être retournée
                            setTimeout(() => {
                                isFlipping = false;
                            }, 1500); // Ajustez le délai en fonction de la durée de votre transition
                        } else if (!isFlipping) {
                            // Cache la carte précédemment retournée si une autre est cliquée
                            flippedCard.classList.remove('flipped');
                            this.classList.toggle('flipped');
                            flippedCard = this;
                            isFlipping = true;

                            setTimeout(() => {
                                isFlipping = false;
                            }, 1500);
                        }
                    });
                });
            });
        </script>
    {% endblock %}


