{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
{% endblock %}

{% block body %}
    <body id="tapisJeu">
        <h1>Jeu de la réussite</h1>
        <h2>Tapis de jeu :</h2>
        <a href="{{ url_for('deconnexion') }}">Déconnexion</a>
        <table class="table-container">
        <tr>
            <th>
                <h1>Symbole</h1>
            </th>
            {% for valeur in liste_valeur %}
                <th>
                {% if valeur == '0' %}
                    <h1>10</h1>
                {%  else  %}
                    <h1>{{ valeur }}</h1>
                {% endif %}
                </th>
            {% endfor %}
        </tr>
        {% set nb_carte = 0 %}
        {% for i in range(0, 4) %}
            <tr>
                {% for j in range(0, 10) %}
                    {% set nb_carte = (i * 9 + j) - 1 %}
                    {% if j == 0 %}
                        <td class="symbole">
                            <img src="{{ liste[i] }}" alt="Symbole de coeur" class="imageSymbole">
                        </td>
                    {%  else  %}
                    <td class="card" id="{{ i * 9 + j }}">
                        <div class="front">
                            <img src="{{ dos_carte }}" alt="Dos de la carte">
                        </div>
                        <div class="back">
                            <img src="{{ carte_data['cards'][nb_carte]['image'] }}" alt="{{ carte_data['cards'][nb_carte]['code'] }}">
                        </div>
                        <span>{{ nb_carte }}</span>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </body>
{% endblock %}
    {% block scripts %}
        <script src="../static/JS/carteRetourne.js">
        </script>
    {% endblock %}


